<!DOCTYPE html>
<html>
  <head>
    <% var thisDate = params.header.thisDate %>
    <title>picob - カレンダー[<%= thisDate.year + '-' + thisDate.month %>]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" >
    <link rel='stylesheet' href='/stylesheets/cssreset-min.css' />
    <link rel='stylesheet' href='/stylesheets/picob.common.css' />
    <link rel='stylesheet' href='/stylesheets/picob.css' />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Quicksand' type='text/css'>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/knockout-3.0.0.js"></script>
    <script type="text/javascript" src="/javascripts/knockout.mapping-latest.js"></script>
    <script type="text/javascript" src="/javascripts/picob.common.js"></script>
    <script type="text/javascript" src="/javascripts/picob.js"></script>
    <link rel="shortcut icon" href="/images/picob.ico">
  </head>
  <body>
    <%- partial('part_analytics') %>
    <%- partial('part_header', params.header) %>
    <div id="container" class="calendar">
      <%- partial('part_target_user', params) %>
      <%- partial('part_calendar', params) %>
    </div>
  </body>
</html>
