<!DOCTYPE html>
<html>
  <head>
    <title>picob</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" >
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.simplemodal.js"></script>
    <script type="text/javascript" src="/javascripts/matchMedia.js"></script>
    <script type="text/javascript" src="/javascripts/picob.entry.js"></script>
    <link rel='stylesheet' href='/stylesheets/cssreset-min.css' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/picob.entry.css' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/picob.common.css' type='text/css'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Quicksand' type='text/css'>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <form method="get" action="/logout">
          <input id="logout-button" type="submit" value="ログアウト">
        </form>
      </div>
      <div id="left-container">
        <div id="feeling" class="<%= piece.feeling %>">
        </div>
        <% if (isMe) {%>
          <div class="feeling-selector">
            <a class="feeling-choices feeling-good web-icon-fontello" feeling="good"></a>
            <a class="feeling-choices feeling-normal web-icon-fontello" feeling="normal"></a>
            <a class="feeling-choices feeling-bad web-icon-fontello" feeling="bad"></a>
          </div>
        <% } %>
      </div>
      <div id="right-container">
        <div id="date" year="<%= thisDate.year %>" month="<%= thisDate.month %>" day="<%= thisDate.day %>">
          <%= thisDate.year + '/' + thisDate.month + '/' + thisDate.day %>
        </div>
        <div id="feeling-text-container">
          <div id="feeling-text-icon">
          </div>
          <div id="feeling-text">
            <% if (piece && piece.feeling_text) {%>
              <%= piece.feeling_text.text %>
            <% } else { %>
              ・・・？
            <% } %>
          </div>
        </div>
        <% if (isMe) {%>
          <div id="feeling-text-selector">
            <% var groupNameArray = ['Good', 'Normal', 'Bad']; %>
            <% for (var i in groupNameArray) { %>
              <% var groupName = groupNameArray[i]; %>
              <div class="feeling-group <%= groupName.toLowerCase() %>">
                <div class="feeling-group-title"><%= groupName %></div>
                <div class="feeling-text-container">
                  <ul>
                    <% for (var j in feelings[groupName]) { %>
                    <% var feeling = feelings[groupName]; %>
                    <li>
                    <a class="feeling-text-choices inactive" href="javascript:void(0)" feeling-text-id='<%= feeling[j]._id %>'>
                      <%= feeling[j].text %>
                    </a>
                    </li>
                    <% } %>
                  </ul>
                </div>
              </div>
            <% } %>
          </div>
        <% } %>
      </div>
      <div id="bottom-container">
        <div id="prev-date" class="web-icon-fontello">
          <a href="/<%= userSeq %>/entry/<%= prevDate.year %>/<%= prevDate.month %>/<%= prevDate.day %>" >4</a>
        </div>
        <div id="switch-calendar" class="web-icon-fontello">
          <a href="/<%= userSeq %>/calendar/<%= thisDate.year %>/<%= thisDate.month %>" >7</a>
        </div>
        <div id="next-date" class="web-icon-fontello">
          <a href="/<%= userSeq %>/entry/<%= nextDate.year %>/<%= nextDate.month %>/<%= nextDate.day %>" >5</a>
        </div>
      </div>
    </div>
    <% /* CSRF対策 Token */ %>
    <div>
      <input type="hidden" name="_csrf" value="<%= csrftoken %>">
    </div>
  </body>
</html>
