<!DOCTYPE html>
<html>
  <head>
    <title>picob</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" >
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.simplemodal.js"></script>
    <script type="text/javascript" src="/javascripts/matchMedia.js"></script>
    <script type="text/javascript" src="/javascripts/picob.entry.js"></script>
    <link rel='stylesheet' href='/stylesheets/cssreset-min.css' />
    <link rel='stylesheet' href='/stylesheets/picob.entry.css' />
    <link rel='stylesheet' href='/stylesheets/picob.common.css' />
  </head>
  <body>
    <div id="container">
      <div id="header">
        <form method="get" action="/logout">
          <input id="logout-button" type="submit" value="ログアウト">
        </form>
      </div>
      <div id="left-container">
        <div id="feeling" class="web-icon-fontello">
          <% if (piece) {%>
            <%= piece.feeling %>
          <% } %>
        </div>
      </div>
      <div id="right-container">
        <div id="date" year="<%= thisDate.year %>" month="<%= thisDate.month %>" day="<%= thisDate.day %>">
          <%= thisDate.year + '/' + thisDate.month + '/' + thisDate.day %>
        </div>
        <div id="feeling-text">
          <% if (piece && piece.feeling_text) {%>
            <%= piece.feeling_text.text %>
          <% } %>
        </div>
      </div>
      <div id="bottom-container">
        <div id="prev-date" class="web-icon-fontello">
          <a href="/<%= userSeq %>/entry/<%= prevDate.year %>/<%= prevDate.month %>/<%= prevDate.day %>" >4</a>
        </div>
        <div id="switch-calendar" class="web-icon-fontello">
          <a href="/<%= userSeq %>/calendar/<%= thisDate.year %>/<%= thisDate.month %>" >7</a>
        </div>
        <div id="next-date" class="web-icon-fontello">
          <a href="/<%= userSeq %>/entry/<%= nextDate.year %>/<%= nextDate.month %>/<%= nextDate.day %>" >5</a>
        </div>
      </div>

      <!-- modal form window -->
      <div id="form-window" style="display: block;">
        <div id="selected-feeling" class="feeling web-icon-fontello"></div>
        <div class="feeling-selector">
          <div class="feeling-choices feeling-good web-icon-fontello">1</div>
          <div class="feeling-choices feeling-normal web-icon-fontello">3</div>
          <div class="feeling-choices feeling-bad web-icon-fontello">2</div>
        </div>
        <% for (var groupName in feelings) { %>
        <div class="feeling-group-title"><%= groupName %></div>
        <div id="feeling-text-container">
          <ul>
            <% for (var i in feelings[groupName]) { %>
            <% var feeling = feelings[groupName]; %>
            <li>
            <a class="feeling-text-choices inactive" href="javascript:void(0)" feeling-text-id='<%= feeling[i]._id %>'>
              <%= feeling[i].text %>
            </a>
            </li>
            <% } %>
          </ul>
        </div>
        <% } %>
        <input type="button" id="post-button" value="POST">
      </div>
    </div>
  </body>
</html>
