<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/knockout-3.0.0.js"></script>
    <script type="text/javascript" src="/javascripts/knockout.mapping-latest.js"></script>
    <script type="text/javascript" src="/javascripts/picob.js"></script>
    <link rel='stylesheet' href='/stylesheets/cssreset-min.css' />
    <link rel='stylesheet' href='/stylesheets/picob.css' />
  </head>
  <body>
    <div id="day-Of-the-week-bar">
      <div class="holiday">Sun</div>
      <div>Mon</div>
      <div>Tue</div>
      <div>Wed</div>
      <div>Thu</div>
      <div>Fri</div>
      <div class="holiday">Sat</div>
    </div>
    <div id="pieces">
      <% var pieceNo = 0; %>
      <div class="week" week="1">
      <% /* 6週間分 */ %>
      <% for(var i = 0; i < 6; i++) { %>
        <div class="week" week="<%= i + 1 %>">
          <% /* 1週間(7日) */ %>
          <% for(var j = 0; j < 7; j++) { %>
            <!-- ko if: pieces()[<%= pieceNo %>] -->
            <div data-bind="template: {name: 'piece-template', data: {piece: pieces()[<%= pieceNo %>]}},
              css: pieces()[<%= pieceNo %>].isCompleted() ? 'piece' : 'empty-piece'">
            </div>
            <!-- /ko -->
            <% pieceNo++; %>
          <% } %>
        </div>
      <% } %>

      <script type="text/html" id="piece-template">
        <!-- ko if: !piece.isDisabled() -->
        <div data-bind="text: piece.date, attr: {'year': piece.year, 'month': piece.month, 'day': piece.day}" class="date"></div>
        <div data-bind="text: piece.feeling" class="feeling web-icon-fontello"></div>
        <div class="feeling-selector" data-bind="style: {display: piece.isCompleted() ? 'none' : 'block'}">
          <div class="feeling-choices feeling-good web-icon-fontello">1</div>
          <div class="feeling-choices feeling-normal web-icon-fontello">3</div>
          <div class="feeling-choices feeling-bad web-icon-fontello">2</div>
        </div>
        <form class="edit-form" style="display: none;">
          <input class="input-feeling" data-bind="value: piece.feeling" />
        </form>
        <div class="edit-link">edit</div>
        <!-- /ko -->
      </script>
    </div>
  </body>
</html>
