<!DOCTYPE html>
<html>
  <head>
    <title>picob</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" >
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/knockout-3.0.0.js"></script>
    <script type="text/javascript" src="/javascripts/knockout.mapping-latest.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.simplemodal.js"></script>
    <script type="text/javascript" src="/javascripts/matchMedia.js"></script>
    <script type="text/javascript" src="/javascripts/picob.js"></script>
    <link rel='stylesheet' href='/stylesheets/cssreset-min.css' />
    <link rel='stylesheet' href='/stylesheets/picob.common.css' />
    <link rel='stylesheet' href='/stylesheets/picob.css' />
  </head>
  <body>
    <div id="container">
      <div id="header">
        <form method="get" action="/logout">
          <input id="logout-button" type="submit" value="ログアウト">
        </form>
      </div>
      <div id="controler">
        <div id="month-controler">
          <% if (prevDate.isVisible) { %>
            <a id="prev-month" class="web-icon-fontello"
              href="/<%= userSeq %>/calendar/<%= prevDate.year %>/<%= prevDate.month %>">4</a>
          <% } %>
          <div id="current-ym" year="<%= thisDate.year %>" month="<%= thisDate.month %>">
            <%= thisDate.year + "/" + thisDate.month %>
          </div>
          <% if (nextDate.isVisible) { %>
            <a id="next-month" class="web-icon-fontello"
              href="/<%= userSeq %>/calendar/<%= nextDate.year %>/<%= nextDate.month %>">5</a>
          <% } %>
        </div>
      </div>
      <div id="day">
        <div class="holiday">Sun</div>
        <div>Mon</div>
        <div>Tue</div>
        <div>Wed</div>
        <div>Thu</div>
        <div>Fri</div>
        <div class="holiday">Sat</div>
      </div>
      <div id="pieces">
        <% var pieceNo = 0; %>
        <div class="week" week="1">
        <% /* 6週間分 */ %>
        <% for(var i = 0; i < 6; i++) { %>
          <div class="week" week="<%= i + 1 %>">
            <% /* 1週間(7日) */ %>
            <% for(var j = 0; j < 7; j++) { %>
              <!-- ko if: pieces()[<%= pieceNo %>] -->
              <div data-bind="template: {name: 'piece-template', data: {piece: pieces()[<%= pieceNo %>]}},
                attr: {'href': pieces()[<%= pieceNo %>].getHref()},
                css: pieces()[<%= pieceNo %>].getPieceCss()">
              </div>
              <!-- /ko -->
              <% pieceNo++; %>
            <% } %>
          </div>
        <% } %>

        <script type="text/html" id="piece-template">
          <!-- ko if: !piece.isDummy() -->
            <div data-bind="text: piece.date, attr: {'year': piece.year, 'month': piece.month, 'day': piece.day}" class="date"></div>
            <div data-bind="css: piece.feeling" class="feeling"></div>
            <div data-bind="attr: {'feeling-text-id': piece.feeling_text ? piece.feeling_text._id : ''}" class="feeling-text">
              <!-- ko if: piece.existFeelingText() -->
                <span data-bind="text: piece.feeling_text.text"></span>
              <!-- /ko -->
            </div>
          <!-- /ko -->
        </script>
      </div>
    </div>
  </body>
</html>
