<div id="header">
  <div id="global-navi">
    <div id="navi-left">
      <div id="logo">picob</div>
    </div>
    <div id="navi-center">
      <div id="controler">
        <div id="controler-inner">
          <div id="month-controler">
            <% if (prevDate.isVisible) { %>
            <a id="prev-month" href="/<%= targetUser.seq %>/calendar/<%= prevDate.year %>/<%= prevDate.month %>"></a>
            <% } else { %>
            <span id="prev-month" class="inactive"></span>
            <% } %>
            <div id="current-ym" year="<%= thisDate.year %>" month="<%= thisDate.month %>">
              <%= thisDate.year + "/" + thisDate.month %>
            </div>
            <% if (nextDate.isVisible) { %>
            <a id="next-month" href="/<%= targetUser.seq %>/calendar/<%= nextDate.year %>/<%= nextDate.month %>"></a>
            <% } else { %>
            <span id="next-month" class="inactive"></span>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <div id="navi-right">
      <div class="login-user-icon tool-box">
        <% if (loginUser.provider == "twitter") { %>
          <img src="http://twiticon.herokuapp.com/<%= loginUser.raw_name %>">
        <% } else { %>
          <img src="https://graph.facebook.com/<%= loginUser.id %>/picture">
        <% } %>
        <div class="down-mark"></div>
        <div class="user-menu inactive">
          <ul>
            <li><a href="/logout">ログアウト</a></li>
          </ul>
        </div>
      </div>
      <div href="/<%= targetUser.seq %>/entry/today" id="today-button" class="link tool-box">
        <div class="caption">today</div>
        <div class="date"><%= toDay.date %></div>
      </div>
    </div>
    <div id="navi-bottom">
      <div href="/<%= targetUser.seq %>/entry/today" id="today-button" class="link tool-box">
        <div class="caption">today</div>
        <div class="date"><%= toDay.date %></div>
      </div>
    </div>
  </div>
</div>
